.info-container {
  display: flex;
  padding: 15px 10px;
  background: whitesmoke;
  .avatar {
    background-image: url(../images/avatar.png);
    height: 60px;
    width: 60px;
    background-size: cover;
  }
  .center {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-left: 20px;
    color: #666;
    .title {
      font-size: 20px;
      font-weight: bold;
      margin: 5px 0 15px 0;
    }
  }
  .right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    .watch {
      width: 100px;
      height: 30px;
      line-height: 30px;
      text-align: center;
      background: #01a0e4;
      border-radius: 5px;
      color: white;
    }
  }
}