.chart-content {
  display: flex;
  align-items: center;
  margin-top: 20px;
  .content {
    background-color: whitesmoke;
    padding: 10px 20px;
    color: #333;
    border-radius: 10px;
    margin: 10px;
  }

  .img {
    width: 40px;
    height: 40px;
    background-image: url(../../images/avatar.png);
    background-size: cover;
    margin: 10px;
  }
}