/**
 * Created by andycall on 15/12/12.
 */

& {
  width: 92%;
  padding: 10px 15px;
  display: flex;
  margin: 5px 0;
  overflow: hidden;

  .image_container {
    flex: 1;
    display: flex;
    justify-content: space-between;
  }
}
