/**
 * Created by andycall on 15/12/12.
 */

& {
  width: 92%;
  padding: 6px 15px;
  display: flex;
  margin: 5px 0;
  background: whitesmoke;
  overflow: hidden;

  .image_container {
    flex: 0.6;

    img {
      width: 80%;
    }
  }

  .content {
    flex: 3;
    display: flex;
    overflow: hidden;

    h2 {
      margin: 0;
      line-height: 35px;
      font-size: 16px;
      color: #888888;
    }

    span {
      line-height: 35px;
      font-size: 12px;
      margin: 0 5px;
      color: #ee5a44;
      font-weight: bold;
      display: inline-block;
    }
  }

  .right {
    flex: 1;
    display: flex;

    .fa {
      display: inline-block;
      margin: auto;
      color: #ee5a44;
    }

  }
}
