& {
  padding: 10px 10px;
  background: rgb(115, 170, 217);
  color: white;
  display: flex;
  justify-content: center;
  position: relative;
  height: 25px;

  span {
    display: inline-block;
    line-height: 25px;
  }
}

.back {
  position: absolute;
  left: 5px;
  top: 5px;
  padding: 5px;
  background: #4C90CA;
  width: 80px;
  text-align: center;
}