& {
  padding: 10px 10px;
  background: #ee5a44;
  color: white;
  display: flex;
  justify-content: center;
  position: relative;
  height: 25px;

  span {
    display: inline-block;
    line-height: 25px;
  }
}

.back {
  position: absolute;
  left: 5px;
  top: 5px;
  padding: 5px 20px 5px 10px;
  text-align: center;
  cursor: pointer;

  i {
    font-size: 25px;
  }
}